/* ==================================================
                    MENU PAGE COMPONENTS
================================================== */

/* ----------HEADER----------*/



/* ----------BODY----------*/
header{

    background-image: url("../images/Background1_PO.png");
    background-repeat: repeat-y;
    background-size: cover;
}


#left, #right, #circle, #center {
    background: linear-gradient(
        to bottom, 
        var(--smoke-violet) 0%,
        var(--obsidian) 40%, 
        var(--obsidian) 50%,
        var(--obsidian) 100%
    );
}