/* ==================================================
                    ROOT VARIABLES
================================================== */

:root {

/*----------COLOR----------*/
    /*----------COLOR----------*/
    --obsidian: #0A0711;
    --oxblood: #961E1E;
    --ember: #C85B29;
    --smoke-violet: #3C3642;
    --bone: #E5DDD1;
    --text-bone: #DBDFDC;
    --muted-gold: #B89A5A;

/*----------FONTS----------*/
    --font-header: 'Trajan Pro', serif;
    --font-body: "Roboto", "Open Sans", sans-serif;

/*  FOR CONSISTENT FONT SIZES THROUGHOUT THE PAGE
    Title                                       35pt
    Headers		                Inter Bold      27pt
	Menu Descriptions and p     Roboto regular  12pt
	Online Menu		            Roboto regular  16pt
*/
}

/* ==================================================
                    MENU PAGE COMPONENTS
================================================== */
header, footer{

    background-image: url("../images/Background_Icon.png");
    background-repeat: repeat-y;
    background-size: cover;
}


/* ----------BODY----------*/

.body {
    line-height: 1.5;
}

.top {
    background-color: var(--obsidian);
    text-align: center;
    padding: 30px;
}

img {
    width: 300px;
    height: auto;
}

h2 {
    font-size: 27pt;
    font-family: var(--font-header);
    padding: 20px;
}

.ingredients {
    font-size: 16pt;
    font-family: var(--font-header);
    color: var(--ember);
    padding-bottom: 20px;
}

p {
    font-size: 12pt;
}

#left, #right, #circle, #center {
    background: linear-gradient(
        to bottom, 
        var(--smoke-violet) 0%,
        var(--obsidian) 40%, 
        var(--obsidian) 50%,
        var(--obsidian) 100%
    );
    padding: 30px;
}