/* ==================================================
                    IMPORTS
================================================== */
@import url("https://use.typekit.net/bbc3lgt.css");



/* ==================================================
                    CSS RESET
================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ==================================================
                    ROOT VARIABLES
================================================== */

:root {
/*----------COLOR----------*/
    --obsidian: #0A0711;
    --oxblood: #961E1E;
    --ember: #C85B29;
    --smoke-violet: #3C3642;
    --bone: #E5DDD1;
    --text-bone: #DBDFDC;
    --muted-gold: #B89A5A;

/*----------FONTS----------*/
    --font-header: 'Trajan Pro', serif; 
    --font-body: "Roboto", "Open Sans", sans-serif;

/*  FOR CONSISTENT FONT SIZES THROUGHOUT THE PAGE
    Title                                       35pt
    Headers		                Inter Bold      27pt
	Menu Descriptions and p     Roboto regular  12pt
	Online Menu		            Roboto regular  16pt
*/
}

body {
    font-family: var(---font-body);
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

nav a {
    font-family: var(--font-header);
    text-decoration: none;
    font-weight: 700;
}



/* ==================================================
                    GLOBAL STYLES
================================================== */

html {
    min-width: 400px;
    background: linear-gradient(
        to bottom, 
        var(--smoke-violet) 0%,
        var(--obsidian) 40%, 
        var(--obsidian) 50%,
        var(--obsidian) 100%
        );
}

body {
    text-align: center;
    font-family: var(--font-body);
    color: var(--text-bone);
}

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        line-height: 1.5;
    }

    header {
        display: block;
        padding: 0;
        margin: 0;
        font-family: var(--font-header);
    }

        h1 {
            font-size: 35pt;
            text-align: center;
            font-family: var(--font-header);
        }

        h2, h3 {
            font-family: var(--font-header);
        }

        .title {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding: 20px 0;
            margin: 0;
            width: 100%;
}

            .logo-and-title {
                display: flex;
                padding-left: 20px;
                align-items: center;
                justify-content: flex-start;
            }

                .logo-and-title h1 {
                    font-weight: bolder;
                    font-size: 35pt;
                }

                .logo-and-title p {
                    font-size: var(--font-body);
                }

                .logo-and-title img {
                    width: 120px;
                    height: auto;
                }

                .circle {
                    width: 180px;
                    height: 180px;
                    background: var(--text-bone);
                    border-radius: 55%;
                    border: 14px solid var(--smoke-violet);
                    position: absolute;
                    top: -150px;
                    transform: translate(-50%);
                    left: 50%;
                    align-content: center;
                }

                .circle img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 10%;
                }

    /* Story Section */
.story {
    background: linear-gradient(var(--smoke-violet) 10%, var(--obsidian) 85%);
    text-align: center;
    padding: 75px 15px 60px;
    position: relative;
    font-weight: 700;
    margin-top: 145px;
}

.story h2 {
    margin-top: 20px;
    margin-bottom: 25px;
    font: var(--font-header);
    font-size: 27px;
}

.story p {
    font-size: 14px;
    font-family: var(--font-body);
    color: var(--text-bone);
    line-height: 1.6;
    max-width: 320px;
    margin: 10px auto;
}

/* Gallery Grid */
.gallery {
    padding: 30px 20px;
}

.gallery h2 {
    font: var(--font-header);
    font-size: 27px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 20px;
    align-content: center;
}

/* remove background when I add images to the grid */
.box {
    background: var(--text-bone);
    height: 130px;
}

.box.tall {
    height: 300px;
}

.box.wide {
    grid-column: span 1;
    height: 175px;
}

.box.tall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* uncomment when I add images to the grid /*

/* .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* .box.wide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

    /* ---------HAMBURGER "X" ANIMATION ---------*/

    #hamburger:checked ~ label span {
        background-color: transparent; 
    }
    
    #hamburger:checked ~ label span:before {
        top: 0;
        transform: rotate(45deg);
    }
    
    #hamburger:checked ~ label span:after {
        top: 0;
        transform: rotate(-45deg);
    } 

/*----------FOOTER----------*/
footer {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: var(--bone);
}

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        max-width: 100%;
        margin: 20px auto;
        padding: auto;
    }

        .footer h2 {
            font-size: 16pt;
            font-family: var(--font-header);
            text-align: center;
        }

        .footer h3 {
            font-size: 14pt;
            font-family: var(--font-header);
            color: var(--muted-gold);
        }

        .footer p {
            font-size: 12pt;
            font-family: var(--font-body);
        }

        .footer a {
            text-decoration: none;
            color: var(--bone);
        }

        .footer-address {
            grid-column: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .footer-social {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }


        .footer-social h2 {
            margin-top: 0;
            font-size: 16pt;
            text-align: center;
        }

        .footer-social p {
            margin: 5px 0;
        }

        .footer-address, .footer-social {
            display: block;
            text-align: center;
            max-width: 100%;
            padding: 0;
            margin: 0;
        }

        .footer a:hover {
            color: var(--ember);
        }


/* Media Queries */

/* Mobile-first (small) /*


/* Tablets (medium) */
@media screen and (min-width: 600px){
    .page {
        padding: 0;
        margin: 0;
    } 

    header {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 4rem;
    }


    .story {
        margin-top: 140px;
    }

    .story p {
        max-width: 600px;
        font-size: 14px;
        font-family: var(--font-body);
        justify-self: start;
    }

    .circle {
        width: 185px;
        height: 185px;
        top: -150px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    .box.tall {
        grid-row: span 2;
        height: auto;
    }

    .box.wide {
        grid-column: span 1;
    }

    .footer {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktops (large) */
@media screen and (min-width: 900px){
    .page {
        min-width: 400px;
        padding: 0;
        margin: 0;
    }

    
    .circle {
        width: 190px;
        height: 190px;
        top: -150px;
    }

    .story {
        display: grid;
        align-items: center;
        padding: 100px 60px 100px;
        gap: 15px;
        margin-top: 160px;
    }

    .story h2 {
        text-align: center;
    }

    .story p {
        font-size: 16px;
        font-family: var(--font-body);
        justify-self: start;
}

/* adjust gallery grid layout */

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: row dense;
        gap: 12px;
        margin-bottom: 20px;
    }

    .box.tall {
        grid-row: span 2;
        height: 400px;
    }

    .box.wide {
        grid-column: span 2;
        height: 193px;
        width: auto;
    }

    .box {
        height: 193px;
    }

    .footer {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}