.calendar {
  display: grid;
  /* Creates 7 equal columns */
  grid-template-columns: repeat(7, 1fr); 
  gap: 5px;
  max-width: 900px;
  height: 500px;
  margin: auto;
}
.day-name { background: #8f2121; font-weight: bold; text-align: center; padding: 10px; }
.day { border: 1px solid #F15A24;; text-align: center; padding: 15px; }
